/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.container {
  max-width: 100%;
  margin: 0 auto;
}

.btn {
  color: white;
  border: 1px solid black;
  background-color: #1561FF;
  padding: 5px 15px;
}

/* HEADER */
header {
  height: 80px;
}

.top-menu {
  position: fixed;
  width: 100%;
  height: 80px;
  line-height: 80px;
  min-width: 1000px;
  overflow: hidden;
  background-color: #fff;
  z-index: 999;
}

.top-menu .left-menu, .top-menu .right-menu {
  display: inline-block;
  vertical-align: middle;
}

.top-menu ul {
  list-style: none;
}

.top-menu ul, .top-menu ul li {
  display: inline-block;
  padding: 0 25px;
}

.top-menu ul li a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
}

.top-menu ul li a.btn {
  color: white;
} 

.left-menu #logo-img {
  vertical-align: middle;
  padding-left: 20px;
}

.left-menu {
  float: left;
}

.right-menu {
  float: right;
}

/* JUMBOTRON */
.jumbotron {
  background-color: #B4D0E7;
  height: 750px;
  margin-bottom: 200px;
}

.jumbotron .container {
  width: 80%;
  margin: 0 auto;
}

.jumbotron h1 {
  font-weight: bold;
  font-size: 76px;
  padding-top: 50px;
}

.jumbotron .jumbo-left, .jumbotron .jumbo-right { 
  float: left;
}

.jumbo-left {
  width: 30%;
  margin-right: 1%;
}

.jumbo-right {
  width: 69%;
}

.jumbo-left p {
  font-size: 20px;
  margin-bottom: 50px;
  margin-top: 30px;
}

.jumbo-left .btn {
  display: inline-block;
  width: 75%;
  text-decoration: none;
  text-align: center;
  font-size: 24px;
}

.jumbo-left .small-text {
  font-size: 18px;
}

.jumbo-left .arrow {
  color: black;
  font-size: 50px;
}

.jumbotron .jumbo-right img {
  width: 100%;
  margin-top: 30px;
}

/* MAIN SECTION */
main .container {
  width: 60%;
  margin: 0 auto;
}

main .container h2 {
  font-size: 48px;
}

main p.payment {
  display: inline-block;
  padding: 35px 20px 0 0;
  margin-bottom: 35px;
}

main .main-col {
  width: calc(100% / 3.33);
}

main .main-col.mid-col {
  margin: 0 55px;
}

main .main-col.left-col, main .main-col.mid-col, main .main-col.right-col {
  float: left;
  min-height: 800px;
  background-color: cornflowerblue;
}

main .large-col {
  min-height: 300px;
  background-color: cornflowerblue;
  margin: 30px 0 150px 0;
}

.row .left-content, .row .right-content {
  float: left;
}

.row .left-content {
  width: calc(60% - 20px);
  min-height: 400px;
  background-color: darkorange;
  margin-right: 20px;
}

.row .right-content {
  width: 40%;
  min-height: 400px;
  background-color: darksalmon;
}

.row.photo-text {
  margin-bottom: 150px;
}

.row .main-col.card {
  float: left;
}

.row .main-col.card.mid-col { /*provvisorio per via del layout coi colori e della classe condivisa con le altre colonne*/
  background-color: #fff;
}

.row .main-col.card .card-img {
  background-color:deepskyblue;
  min-height: 300px;
  margin-top: 30px;
}

.row .main-col.card .card-text {
  background-color:indianred;
  min-height: 350px;
  margin: 30px 0;
}

.row.narrow h2 {
  width: 70%;
  margin-bottom: 30px;
}

.row .clients {
  color: #1867FF;
}

/*SPONSOR SECTION*/
.sponsor {
  margin-top: 40px;
  width: 100%;
}

.left-sponsor {
  float: left;
  height: 400px;
  width: 30%;
  background-color: khaki;
}

.mid-sponsor {
  float: left;
  width: 40%;
  height: 400px;
  background-color: #F5F5F5;
}

.right-sponsor{
  float: left;
  height: 400px;
  width: 30%;
  background-color: khaki;
}

.left-sponsor .row.upper {
  height: 200px;
  background-color: cyan;
}

.left-sponsor .row.lower {
  height: 200px;
  background-color: brown;
}


/*correggere con position*/
.left-sponsor .row.upper img, .left-sponsor .row.lower img, .right-sponsor .row.upper img, .right-sponsor .row.lower img {
  padding-top: 70px;
  width: 50%;
  height: 70%;
  float: left;
}

.right-sponsor .row.upper {
  height: 200px;
  background-color:burlywood;
}

.right-sponsor .row.lower {
  height: 200px;
  background-color:cadetblue;
}


.mid-sponsor {
  padding: 50px;
  overflow: auto;
}

.mid-sponsor img {
  width: 30%;
  height: 20%;
}

.mid-sponsor .caption, .mid-sponsor .credits {
 font-size: 14px;
 margin-top: 30px;
}


/*SLOGAN*/
.slogan {
  width: 100%;
  /* height: 300px; */
  background-color: #B4D0E7;
}

.slogan .row.container {
  width: 60%;
  margin: 0 auto;
}

.slogan .slogan-text {
  width: 40%;
  color: #610D2D;
}

.slogan .slogan-text h2 {
  font-size: 36px;
}

.slogan .row .slogan-text, .slogan .slogan-button {
  float: left;
  padding: 90px 0;
}

.slogan .slogan-button {
  width: 60%;
  padding-left: 35%;
}

.slogan .slogan-button .btn {
  background-color: #fff;
  color: #000;
  border: none;
  text-align: center;
  text-decoration: none;
  padding: 5px 40px;
  font-size: 14px;
}


/*FAQ SECTION*/
.faq-section .row.container {
  width: 60%;
  margin: 0 auto;
}

.faq-section .row.container .faq-text {
  padding-top: 100px;
}

.faq-section .row.container h3 {
  font-size: 32px;
  padding-bottom: 50px;
}

.faq-section .faq-line {
  position: relative;
  padding: 30px 0;
  border-top: 1px solid #DEDEE0;
}

.faq-section .faq-line:last-child {
  border-bottom: 1px solid #DEDEE0;
  margin-bottom: 100px;
}

.faq-section .faq-line i {
  position: absolute;
  top: 30px;
  right: 15px;
}

/* FOOTER */

footer {
  padding: 90px 0;
  background-color: #000;
}

footer .container {
  width: 75%;
  margin: 0 auto;
}

footer ul {
  float: left;
  list-style: none;
  width: 20%;
}

footer ul li {
  color: #fff;
}

footer ul li:first-child {
  font-weight: bold;
  padding-bottom: 15px;
}