* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.container {
  width: 80%;
  max-width: 100%;
  margin: 0 auto;
}


header {
  height: 80px;
}

header .logo img {
  display: inline-block;
  vertical-align: middle;
}

.top-menu {
  position: fixed;
  width: 100%;
}

.top-menu .left-menu, .top-menu .right-menu {
  display: inline-block;
}

.top-menu ul {
  list-style: none;
}

.top-menu ul, .top-menu ul li {
  display: inline-block;
  padding: 0 15px;
}

.top-menu ul li a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
}